<!DOCTYPE html>
<html>
  <head>
    <title>SearchRepo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="sidebar-mini" style="width: 750px; margin: 0 auto;">
    <div class="wrapper">
      <div class="content-wrapper">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
